<% content_for :head do %>
  <div class="container">
    <ul class="breadcrumb">
    <li><a href="/home/index">Home</a> <span class="divider">/</span></li>
    <li><a href="/welcome/index">マイページ</a> <span class="divider">/</span></li>
    <li class="active">記事一覧</li>
    </ul>

    <h1>記事の一覧</h1>
      <%= form_for @search_form, :url => articles_path, :html => {:method => :get, :class => "form-search", 
                                                                :action => "search",  :role => "search"} do |f| %>
        <%= f.search_field :q,:placeholder => "Title/Content ",:class => "input-medium search-query",:type => "text" %>
        <%= f.submit '検索' ,:class => "btn",:alt => "検索" %>
      <% end %>
      <%= link_to '全て表示', [:articles] %>
    <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, { :action => :tag, :name => tag.name }, :class => css_class, 
                                                                  :class => "label label-info " %>
    <% end %>
  </div>
<% end %>

<% flash.each do |name, msg| %>
    <div class="alert alert-info fade in">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice]%>
    </div>
<% end %>
<div class="container-fluid">
    <p><%= @articles.total_count %>件中<%= @articles.offset_value + 1 %>
〜<%= @articles.offset_value + @articles.length %>件を表示しています。</p>
      <table class="table table-bordered  table-striped table-hover">
        <thead>
          <tr><th>タイトル</th><th>科目名</th><th>投稿者</th><th>更新日</th></tr>
        </thead>
        <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= link_to article.title, article_path(article) %></td>
            <td><%= simple_time(article.created_at) %></td>
            <td><%= article.user_name %></td>
            <td><%= simple_time(article.updated_at) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
        <%= paginate @articles  %>
      
</div>

<% content_for :sidebar do %>
  <h4>アーカイブ</h4>
  <div id="datepicker"></div>
  <script>
    $(function() {
      $('#datepicker').datepicker( {
        dateFormat: "yy/mm/dd",
        onSelect: function(date) {
           window.location = "/archives/" + date;
        },
        maxDate: '+d',
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true
      });
    });
  </script>

<% end %>