<% content_for :head do %>
  <div class="container">
    <h1>Listing articles</h1>
      <%= form_for @search_form, :url => articles_path, :html => {:method => :get, :class => "form-search", 
                                                                :action => "search",  :role => "search"} do |f| %>
        <%= f.search_field :q,:placeholder => "Title/Content ",:class => "input-medium search-query",:type => "text" %>
        <%= f.submit '検索' ,:class => "btn",:alt => "検索" %>
      <% end %>
      <%= link_to '全て表示', [:articles] %>
    <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, { :action => :tag, :name => tag.name }, :class => css_class, 
                                                                  :class => "label label-info " %>
    <% end %>

  </div>
<% end %>

<% content_for :sidebar do %>
  <div id="datepicker"></div>
  <script>
    $(function() {
      $('#datepicker').datepicker( {
        onSelect: function(date) {
                 alert(date);
        },
        selectWeek: true,
        inline: true,
        startDate: '01/01/2000',
        firstDay: 1
      });
    });
  </script>

<% end %>



<% flash.each do |name, msg| %>
    <div class="alert alert-info fade in">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice]%>
    </div>
<% end %>

<div class="container-fluid">
    
      <table class="table table-bordered  table-striped table-hover">
      <thead>
        <tr><th>Title</th><th>Name</th><th>Create</th><th>Update</th></tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= link_to article.title, article_path(article) %></td>
            <td><%= article.user_name %></td>
            <td><%= simple_time(article.created_at) %></td>
            <td><%= simple_time(article.updated_at) %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
<%= link_to 'New Article', new_article_path %>

