<ul class="breadcrumb">
    <li><a href="/home/index">Home</a> <span class="divider">/</span></li>
    <li class="active">マイページ</li>
    </ul>
<h1>Welcome#index</h1>
<br />
<li><%= link_to 'Archives', archives_path %></li> 
<li><%= link_to 'Article List', articles_path %></li> 
<div class ="container">
	  <div class="row">
        <div class="span9">
            <%= yield %>
        </div>
     	<div class="span3">
          <div class="well sidebar-nav">
            <%= image_tag current_user.image %>
            <li>follower:<%= current_user.followers_count %></li>
      <li>follow:<%= current_user.follow_count %></li>     
            <h3><%= current_user.name %></h3>
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><%= link_to "Link1", "/path1"  %></li>
              <li><%= link_to "Link2", "/path2"  %></li>
              <li><%= link_to "Link3", "/path3"  %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      
     </div>
</div>
