<ul class="breadcrumb">
    <li><a href="/home/index">Home</a> <span class="divider">/</span></li>
    <li class="active">マイページ</li>
    </ul>
<h1>マイページ</h1>
<br />
<%#= link_to 'Archives', archives_path %> 
<div class ="container">
	  <div class="row">
      <div class="span9">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">投稿した質問</a></li>
          <li class="active"><a href="#tab2" data-toggle="tab">回答した質問</a></li>
          <li><a href="#tab3" data-toggle="tab">ストックした質問</a></li>
          <li><a href="#tab4" data-toggle="tab">フォローユーザアクティビティ</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
            <table class="table table-bordered  table-striped table-hover">
              <thead>
              <tr><th>Articles</th></tr>
              </thead>
              <tbody> 
              <% current_user.articles.each do |article| %>
              <tr>
                <td><%= link_to article.title, article_path(article) %></td>
              </tr>
              <% end %>
              </tbody>
            </table>
            </div>
            <div class="tab-pane" id="tab2">
            </div>
            <div class="tab-pane" id="tab3">
            </div>
            <div class="tab-pane" id="tab4">
              <li><a href="#">i09000</a>さんが質問を投稿しました。2013/01/28</li>
              <li><a href="#">i09000</a>さんが回答を投稿しました。2013/01/28</li>
            </div>
          </div>
        </div>
      </div>
     	<div class="span3">
          <div class="well sidebar-nav">
            <%= image_tag(current_user.image, {:size => '120x240'}) %>   
            <h3><%= current_user.name %></h3>
                        
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li>フォロー数<%= link_to current_user.followers_count , "/path1"%></li>
              <li>フォロワー数<%= link_to current_user.follow_count, "/path3"  %></li>
            </ul>
          </div><!--/.well -->
      </div><!--/span-->
      
     </div>
</div>
