<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "/javascripts/flowplayer.min.js" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
        
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= yield :head %>
  </head>
  <body>

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/home/index">Myapp</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <%= link_to '投稿する', new_article_path %>

               <% if current_user %>
                 Signed in as <a href="/welcome/index" class="navbar-link "><%= current_user.name %>!</a>
               <%= link_to "Sign Out", signout_path %>
              <% else %>
                <%= link_to "Sign in with GitHub", "/auth/github" %>
              <% end %>
            </p>
            <ul class="nav">
              <li><a href="/welcome/index" ><span class="icon"><%= image_tag 'icon-home.png'%></span>マイページ</a></li>
              <li><a href="#contact">ランキング</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div>
  
  <div class="container">
    <div class="row">
      <div class="span9">
        
        <%= yield %>
      </div>
      <div class="span3">
        <%= yield :sidebar %>
      </div>
    </div>
    <footer>
      <p>&copy; Company 2012</p>
    </footer> 
  </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
  </body>
</html>

